table {
    width: 80%;
    margin:auto;
  }

.mat-tab-group {
    width: 80%;
    margin:auto;
  }

.events-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 2rem;
}
.arena-select{
    padding-top: 2rem;
}

.accept-div{
    display: flex;
    align-items: center;
}

.headline-buttons{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  
}
