<div class="spinner" *ngIf="loading">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>

<mat-card class="details-card" *ngIf="!loading">
    <mat-card-header>
      <mat-card-title>{{event.eventName}} <br/> <div class="place">{{event.arenaName}}, {{event.address}} </div></mat-card-title>
      <mat-card-subtitle>{{event.beginTimestamp}} <br/> Ticket price: {{event.ticketPrice}} $ </mat-card-subtitle>
      <mat-card-subtitle class="accept-box" *ngIf="( showOrganizerStuff || showAdminStuff)">
          Acceppted: 
        <mat-icon color="primary" *ngIf="event.accepted">check_circle</mat-icon>
        <mat-icon color="warn" *ngIf="!event.accepted">cancel</mat-icon>
    </mat-card-subtitle>
      
    </mat-card-header>

    <mat-card-content>
      <p>
        {{event.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" *ngIf="!event.participate && event.accepted" (click)="takePartInEvent(event.eventId)">Take part</button>
        <button mat-stroked-button color="warn" *ngIf="event.participate && event.accepted" (click)="quitEvent(event.eventId)">Quit</button>
      <button mat-stroked-button (click)="acceptEvent(event.eventId)" color="primary" *ngIf="(!event.accepted) && ( showOrganizerStuff || showAdminStuff)" >Accept</button>
      <button mat-button *ngIf="hasFilename" (click)="downloadFile(event.eventId)">Download event info</button>
      <button mat-button [routerLink]="'/event'">Back to events</button>
    </mat-card-actions>
  </mat-card>
