<p>
  <mat-toolbar class='nav-bar'>
    <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>{{'home.name' | translate}}</span>
        </button>
        <button *ngIf="userInfo" mat-menu-item routerLink="facilities">
          <mat-icon>home</mat-icon>
          <span>Facilities</span>
        </button>
        <button *ngIf="userInfo" mat-menu-item routerLink="event">
          <mat-icon>home</mat-icon>
          <span>Events</span>
        </button>
        <button *ngIf="!userInfo" mat-menu-item routerLink="login">
          <mat-icon>perm_identity</mat-icon>
          <span>{{'user.login' | translate}}</span>
        </button>
        <button *ngIf="userInfo" mat-menu-item (click)="logout()">
          <mat-icon>perm_identity</mat-icon>
          <span>Exit</span>
        </button>
      </mat-menu>

      <span [routerLink]="''" class="home-link">PSI</span>
      <div class="nav-links">
        <span class="nav-link" [routerLink]="'my-theses'" *ngIf="showStudentStuff">{{'assignment.my' | translate}}</span>
        <span class="nav-link" [routerLink]="'theses'" *ngIf="showStudentStuff">{{'assignment.find' | translate}}</span>
        <span class="nav-link" *ngIf="showStudentStuff">{{'thesis.submit' | translate}}</span>

        <span class="nav-link" [routerLink]="'my-theses'" *ngIf="showEmployeeStuff">{{'assignment.my' | translate}}</span>
        <span class="nav-link" *ngIf="showEmployeeStuff">{{'thesis.submit' | translate}}</span>

        <span class="nav-link" *ngIf="showRepresentativeStuff">{{'reviewer.assign' | translate}}</span>
      </div>

      <div class="nav-right">
        <button class="languageMenu" mat-button [matMenuTriggerFor]="langMenu">{{'language.label' | translate}}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
          <button (click)="setLanguage('en')" mat-menu-item>{{'language.english' | translate}}</button>
          <button (click)="setLanguage('pl')" mat-menu-item>{{'language.polish' | translate}}</button>
        </mat-menu>
        <button *ngIf="userInfo" class="accountMenu" mat-button [matMenuTriggerFor]="accMenu">
          <mat-icon>account_circle</mat-icon>
          {{firstName}} {{lastName}}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #accMenu="matMenu">
          <button mat-menu-item>{{'user.account' | translate }}</button>
          <button mat-menu-item (click)="logout()">{{'user.logout' | translate}}</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
