.nav-right {
  margin-left: auto;
}

.nav-bar{
  background-color: white;
  color: #5D5C61;
}

.nav-links {
  font-size: 0.9rem;
}

.nav-link{
  margin-left: 1rem;
}

.nav-link:hover{
  color: #717075;
  cursor: pointer;
}

.home-link{
  cursor: pointer;
}


