<div class="container">

    <div *ngIf="submitted" class="thesis-add-success ">
        <p class="success-response"> {{'thesis.form.addSuccess' | translate}}</p>
      </div>

    <div class="inputs-container" *ngIf="!loading && !loadingFilters">
        <form *ngIf="!submitted" [formGroup]="thesisForm" (ngSubmit)="onSubmit()" class="thesis-form">
            <div class="add-thesis-title">  {{'thesis.declareSubject' | translate}}
                <div class="submit-buttons">
                <button mat-raised-button class="" type="button" [routerLink]="['/my-theses']">
                    {{'common.cancel' | translate}}
                    </button>
                <button mat-raised-button class="available-button" type="submit">
                {{'thesis.submit' | translate}}
                </button>
            </div>
        
            </div>
                <mat-form-field appearance="outline" class="subject-input">
                  <mat-label>{{'thesis.list.topic' | translate}}</mat-label>
                  <input type="text" matInput formControlName="theme" >
                  <mat-error *ngIf="theme.hasError('required')">
                    {{'thesis.form.topicRequired' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="supervisor-input" *ngIf="showStudentStuff">
                    <mat-label>{{'thesis.list.supervisor' | translate}}</mat-label>
                    <mat-select formControlName="supervisor" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let supervisor of filterOptions.supervisors" [value]="supervisor.username">
                            {{supervisor.firstName}} {{supervisor.lastName}}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="supervisor.hasError('required')">
                      {{'thesis.form.supervisorRequired' | translate}}
                    </mat-error>
                  </mat-form-field>

                  <div class="bottom-inputs">
                    <mat-form-field appearance="outline" class="bottom-field">
                        <mat-label>{{'thesis.list.type' | translate}}</mat-label>
                        <input type="text" matInput [value]="thesis.type" disabled>
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="bottom-field">
                          <mat-label>{{'thesis.list.year' | translate}}</mat-label>
                          <input type="text" matInput [value]="thesis.year" disabled>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="bottom-field">
                            <mat-label>{{'thesis.list.field' | translate}}</mat-label>
                            <input type="text" matInput [value]="thesis.fieldName" disabled>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="bottom-field">
                              <mat-label>{{'language.label' | translate}}</mat-label>
                              <input type="text" matInput [value]="thesis.language" disabled>
                            </mat-form-field>
                  </div>          
                <div class="spinner" *ngIf="loading || loadingFilters">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
        
         
            </form>
    </div>

  </div>