<mat-card>
    <mat-card-title>Facilities</mat-card-title>
    <mat-card-subtitle>Add your new facility</mat-card-subtitle>

    <div *ngIf="submitted" class="facility-add-success">
        <h3>New facility added correctly!</h3>
    </div>

    <form *ngIf="!submitted" [formGroup]="facilityForm" (ngSubmit)="onSubmit()" class="facility-form">
    <mat-card-content>
  
        <mat-form-field appearance="fill">
          <mat-label>Arena name</mat-label>
          <input type="text" matInput formControlName="arenaName">
          <mat-error *ngIf="arenaName.hasError('required')">
            Arena name is <strong>required!</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" >
          <mat-error *ngIf="address.hasError('required')">
            Adress is <strong>required!</strong>
          </mat-error>
        </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Capacity</mat-label>
        <input type="number" matInput formControlName="capacity" >
        <mat-error *ngIf="capacity.hasError('required')">
          Capacity is <strong>required!</strong>
        </mat-error>
        <mat-error *ngIf="capacity.hasError('min')">
            Capacity must be bigger than <strong>0</strong>
          </mat-error>
      </mat-form-field>
    <mat-error *ngIf="error">{{error}}</mat-error>
  </mat-card-content>

    <mat-card-actions>
      <mat-grid-list cols="1" rowHeight="15:1">
        <mat-grid-tile>
          <button mat-raised-button color="primary">
            Add
          </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="loading">
          <mat-spinner [diameter]="30"></mat-spinner>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
    </form>
  </mat-card>