<div class="container">

  <div class="home-title">Menu</div>
  <div class="buttons">
    <button *ngIf="showStudentStuff" class="menu-button" [routerLink]="'my-theses'">
      <div class="button-conent">
        <mat-icon>assignment</mat-icon>
        <div class="vl"></div>
        {{'assignment.my' | translate}}
      </div>
    </button>
    <button *ngIf="showStudentStuff" class="menu-button" [routerLink]="'theses'">
      <div class="button-conent">
        <mat-icon>search</mat-icon>
        <div class="vl"></div>
        {{'assignment.find' | translate}}
      </div>
    </button>
    <button *ngIf="showStudentStuff" class="menu-button" [routerLink]="'add-thesis'">
      <div class="button-conent">
        <mat-icon>note_add</mat-icon>
        <div class="vl"></div>
        {{'thesis.submit' | translate}}
      </div>
    </button>

    <button *ngIf="showEmployeeStuff" class="menu-button" [routerLink]="'my-theses'">
      <div class="button-conent">
        <mat-icon>assignment</mat-icon>
        <div class="vl"></div>
        {{'assignment.my' | translate}}
      </div>
    </button>
    <button *ngIf="showEmployeeStuff" class="menu-button" [routerLink]="'add-thesis'">
      <div class="button-conent">
        <mat-icon>note_add</mat-icon>
        <div class="vl"></div>
        {{'thesis.submit' | translate}}
      </div>
    </button>

    <button *ngIf="showRepresentativeStuff" class="menu-button">
      <div class="button-conent">
        <mat-icon>group_add</mat-icon>
        <div class="vl"></div>
        {{'reviewer.assign' | translate}}
      </div>
    </button>

    <button class="menu-button">
      <div class="button-conent">
        <mat-icon>power_settings_new</mat-icon>
        <div class="vl"></div>
        {{'user.logout' | translate}}</div>
    </button>
  </div>
</div>
