<div class="container" *ngIf="showStudentStuff || showEmployeeStuff">

    <div *ngIf="submitted" class="thesis-add-success ">
        <p class="success-response"> {{'thesis.form.addSuccess' | translate}}</p>
      </div>

    <div class="inputs-container" *ngIf="!loading && !loadingFilters">
        <form *ngIf="!submitted" [formGroup]="thesisForm" (ngSubmit)="onSubmit()" class="thesis-form">
            <div class="add-thesis-title">  {{'thesis.declareSubject' | translate}}
                <div class="submit-buttons">
                <button mat-raised-button class="" type="button" [routerLink]="['/my-theses']">
                    {{'common.cancel' | translate}}
                    </button>
                <button mat-raised-button class="available-button" type="submit">
                {{'thesis.submit' | translate}}
                </button>
            </div>
        
            </div>
                <mat-form-field appearance="outline" class="subject-input">
                  <mat-label>{{'thesis.list.topic' | translate}}</mat-label>
                  <input type="text" matInput formControlName="theme">
                  <mat-error *ngIf="theme.hasError('required')">
                    {{'thesis.form.topicRequired' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="supervisor-input" *ngIf="showStudentStuff">
                    <mat-label>{{'thesis.list.supervisor' | translate}}</mat-label>
                    <mat-select formControlName="supervisor" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let supervisor of filterOptions.supervisors" [value]="supervisor.username">
                            {{supervisor.firstName}} {{supervisor.lastName}}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="supervisor.hasError('required')">
                      {{'thesis.form.supervisorRequired' | translate}}
                    </mat-error>
                  </mat-form-field>

                  <div class="bottom-inputs">
                    <mat-form-field appearance="outline" class="bottom-field">
                        <mat-label>{{'thesis.list.type' | translate}}</mat-label>
                        <mat-select formControlName="type" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let type of filterOptions.thesisTypes" [value]="type">{{'thesis.type.'+type | translate}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="type.hasError('required')">
                          {{'thesis.form.typeRequired' | translate}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="bottom-field">
                          <mat-label>{{'thesis.list.year' | translate}}</mat-label>
                          <mat-select formControlName="year" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let year of filterOptions.years" [value]="year">{{year}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="year.hasError('required')">
                            {{'thesis.form.yearRequired' | translate}}
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="bottom-field">
                            <mat-label>{{'thesis.list.field' | translate}}</mat-label>
                            <mat-select formControlName="field" [ngModelOptions]="{standalone: true}"> 
                                <mat-option *ngFor="let field of filterOptions.fieldNames" [value]="field">{{field}}</mat-option>
                              </mat-select>
                            <mat-error *ngIf="field.hasError('required')">
                              {{'thesis.form.fieldRequired' | translate}}
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="bottom-field">
                              <mat-label>{{'language.label' | translate}}</mat-label>
                              <mat-select formControlName="language" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let language of filterOptions.languages" [value]="language">
                                  {{'thesis.language.'+language | translate}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="language.hasError('required')">
                                {{'thesis.form.languageRequired' | translate}}
                              </mat-error>
                            </mat-form-field>
                  </div>          
                <div class="spinner" *ngIf="loading || loadingFilters">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
        
         
            </form>
    </div>
    <div class="spinner" *ngIf="loading || loadingFilters">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>

  </div>