.title {
    width: 100%;
    font-size: 1.5rem;
}

.container {
    // height: 50%;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 3rem;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.filters {
    background-color: whitesmoke;
    padding-top: 1rem;
    // padding-bottom: 1rem;
    border-radius: 5px;
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter{
    max-width: 11rem;
}

.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.filter-button{
    margin-bottom: 1rem;
}

.thesis-table{
    width: 100%;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .unavailable-button {
      pointer-events: none;
      width: 13rem;
    //   cursor: not-allowed;
  }

  .available-button {
    background-color: #2e7d32;
    color: white;
    width: 13rem;
  }

  .wait-button {
    background-color: #ff9100;
    color: white;
    pointer-events: none;
    width: 13rem;
  }

  .accept-button {
    background-color: #2e7d32;
    color: white;
    width: 6rem;
    text-align: center;
    margin-right:0.5rem;
  }

  .reject-button {
    color: white;
    width: 6rem;
    text-align: center;
    margin-left:0.5rem;
  }

  .action-column {
    text-align: center;
  }

  // .to-accept-field{
  // }

  .primary-button {
    width: 13rem;
    pointer-events: none;
  }
  .add-exp{
    max-width: 8rem;
    box-shadow: none;
    background-color: whitesmoke;
  
  }

  .exp-input{
    max-width:6rem;
  }

  .exp-div{
    display: flex;
    align-items: center;
    justify-content: center;
  }