.mat-card {
    margin: auto;
    width: 30%;
  }

  .mat-card-subtitle{
    text-align: center;
  }

  .mat-card-title {
    text-align: center;
  }

  .mat-card-actions {
    text-align: center;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field {
    margin-bottom: 1em;
  }

  .mat-error {
    text-align: center;
  }

  .event-add-success{
    margin: auto;
    text-align: center;
  }

  .textarea-description {
    height: 10em;
  }
