<mat-card>
  <mat-card-title>{{'form.loginComponent.label' | translate}}</mat-card-title>
  <mat-card-subtitle>{{'form.loginComponent.desc' | translate}}</mat-card-subtitle>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="signin-form">
    <mat-card-content>

      <mat-form-field appearance="fill">
        <mat-label>{{'form.loginComponent.login.label' | translate}}</mat-label>
        <input type="text" matInput formControlName="login" placeholder="{{'form.loginComponent.login.placeholder' | translate}}">
        <mat-error *ngIf="login.hasError('required')">
          {{'form.loginComponent.login.required' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'form.loginComponent.password.label' | translate}}</mat-label>
        <input type="password" matInput formControlName="password" >
        <mat-error *ngIf="password.hasError('required')">
          {{'form.loginComponent.password.required' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="error">{{error}}</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <mat-grid-list cols="1" rowHeight="15:1">
        <mat-grid-tile>
          <button mat-button>
            {{'user.login' | translate}}
          </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="loading">
          <mat-spinner [diameter]="30"></mat-spinner>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </form>
</mat-card>
