table {
    width: 80%;
    margin:auto;
  }

.mat-tab-group {
    width: 80%;
    margin:auto;
  }

.facilities-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 2rem;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  
}